<%= form_with(model: [@portfolio, position], local: true) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
        <% position.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :open_date %>
    <%= form.date_select :open_date %>
  </div>

  <div class="field">
    <%= form.label :close_date %>
    <%= form.date_select :close_date %>
  </div>

  <div class="field">
    <%= form.label :cost_cents %>
    <%= form.number_field :cost_cents %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :stock_id %>
    <%= form.text_field :stock_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
